/* Fonts */
body {
	color: #000000;
	font-family: Space Mono;
	font-style: normal;
	font-weight: bold;
	font-size: 62px;
	letter-spacing: -0.03em;
	line-height: 92px;
	background: rgb(238, 174, 202);
	background: linear-gradient(
		90deg,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 80%
	);
}

h1 {
	margin: 0 auto;
	padding-top: 5px;
	text-align: center;
	padding-bottom: 20px;
}

span {
	color: gray;
}

main {
	margin: 0 auto;
	text-align: center;
}

figure {
	margin: auto;
}

.restart {
	font-size: 3rem;
	display: none;
}

.wrapper {
	display: grid;
	margin: 0 auto;
	filter: brightness(0.9);
}

.holder {
	margin: 0 auto;
	text-align: center;
	width: 45vw;
	grid-row: 4 / span 6;
	grid-column: 1 / span 33;
}

#purple {
	width: 16vw;
	grid-row: 6 / span 1;
	grid-column: 15 / span 8;
}

#green {
	width: 9vw;
	grid-row: 2 / span 3;
	grid-column: 13 / span 5;
}

#yellow {
	width: 8vw;
	grid-row: 2 / span 3;
	grid-column: 20 / span 6;
}

#blue {
	width: 8vw;
	grid-row: 9 / span 4;
	grid-column: 19 / span 9;
}

#red {
	width: 9vw;
	grid-row: 9 / span 2;
	grid-column: 12 / span 4;
}

.highlight {
	filter: drop-shadow(0px 20px 24px purple) brightness(3);
}
