/* Fonts */
body {
	color: #000000;
	font-family: Space Mono;
	font-style: normal;
	font-weight: bold;
	font-size: 62px;
	letter-spacing: -0.03em;
	line-height: 92px;
}
h1 {
	margin: 0 auto;
	padding-top: 5px;
	text-align: left;
}
main {
	margin: 0 auto;
	text-align: center;
}

figure {
	margin: 50px auto 0;
	text-align: center;
}

/* Game Holder */
.holder {
	left: 24vw;
	margin: 0 auto;
	position: absolute;
	text-align: center;
	width: 50vw;
	z-index: -1;
}

#purple {
	left: 41vw;
	position: absolute;
	top: 17vw;
	width: 16vw;
}

#green {
	position: absolute;
	left: 31vw;
	top: 4vw;
	width: 10vw;
}

#yellow {
	position: absolute;
	left: 59vw;
	top: 2vw;
	width: 10vw;
}

#blue {
	position: absolute;
	left: 56vw;
	top: 38vw;
	width: 9vw;
}

#red {
	position: absolute;
	left: 28vw;
	top: 38vw;
	width: 10vw;
}

.highlight {
	filter: drop-shadow(0px 20px 24px magenta);
}
